.home{
    background-image: url("bg1.jpg");
    background-size:cover;
    font-family: 'Indie Flower', cursive;
}
.about{
    background-image: url("bg3.jpg");
    background-size: 100% 100%;
    font-family: 'Indie Flower', cursive;
}
.catalog{
    background-image: url("bg4.jpg");
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}
.shopping{
    background-image: url("bg2.jpg");
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}
.header{
    font-family: 'Fascinate Inline', cursive;
    margin:80px;
}
.b
{
    margin-left: 150px;
}